.page
{
  width:99%;height:auto;
}

body
{
  background-color: #ffc099;

  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 100vh;
}
.titleheading
{
    display: flex;
    justify-content: center;
}

.flag-background
{
  position: relative;
  margin-top: -100px;
}

.titleflag
{
  width : 100%;
  height : 30vw;
}

.titleheading
{
  transform: translateY(-10vw);
  background: #661414;
  border-radius: 10%;
  opacity: 75%;
  font-size: 2vw;
}

.navtext
{
  width : 6vw;
  height : 2vw;
  display : flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  background-color: #661414;
}

.navtext:hover
{
  background-color: #b83939;
}


.navtext.on-display::after
{
  content: '';
  position: absolute;
  height: 0.2vw;
  background-color: #297245;
  border-radius: 20%;
  animation: sizechg 0.5s linear infinite alternate;
  z-index: 0;
  transform: translateY(1vw);
}

@keyframes sizechg
{
  0%
  {
    width: 1vw;
  }
  100%
  {
    width: 4vw;
  }
}

.navicon
{
  width: 2vw;
  height: auto;
}

nav
{
  transform: translateY(-100%);
  display: flex;   
  align-items: center;
  justify-content: center;
  background-color: #661414;
}

nav ul
{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

nav ul li
{
  color: white;
  border-radius: 10%;
}

.mainptext
{
  width : 50vw;
  height : auto;
  text-align: center;
  font-size: 2vw;
  transform : translateX(25vw);
  color :#661414
}

.siteqr
{
  display:block;
  width : 10vw;
  height : auto;
  transform : translateX(45vw)
}

footer
{
  background-color: #297245;
  text-align: center;
}

/*CSS for responsive menu*/
#hamIcon{display:none;}

/*to unhide menu items*/
.menuShow{display:block;}

@media (max-width: 1000px)
{
  .page
  {
    transform: translateY(-5vw);
  }
  .mainptext
  {
    width : 80vw;
    font-size: 4vw;
    transform : translateX(10vw);
  }

  .siteqr
  {
    display : block;
    width : 20vw;
    height : auto;
    transform : translateX(40vw)
  }
  .page
  {
    margin-top : 2vw;
  }
}
@media (max-width: 800px)
{
  /*make a menu items vertical*/
  nav ul li
  {
    display:block;
  }
  /* unhide menu icon */
  #hamIcon
  {
    display:block;
    background-color: #661414;
    border : 0vw;
  }
  /*hide the menu item list*/
  nav ul{display:none;}
  .navtext
  {
    width : 20vw;
    height : 10vw;
    margin : 1vw;
    border-bottom: 1vw solid #c9dbc5;
  }
  .navicon
  {
    width: 10vw;
    height: auto;
  }
  .siteqr
  {
    display:none;
  }

  .flag-background
  {
    position: relative;
  }

  .titleflag
  {
    width : 100%;
    height : 50vw;
  }

  .titleheading
  {
    transform: translateY(-20vw);
    background: #661414;
    border-radius: 10%;
    opacity: 75%;
    font-size: 6vw;
  }
  nav
  {
    transform: translateY(-10vw);
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: #661414;
  }
  .page
  {
    transform: translateY(-10vw);
  }
  .mainptext
  {
    width : 80vw;
    font-size: 8vw;
    transform : translateX(10vw);
  }
  .navtext.on-display
  {
    border-top: 1vw solid #c9dbc5;
  }
  .navtext.on-display::after
  {
    animation : 0s;
  }
}

/**************************Mythology**************************/
.cardlisttitle
{
  width : 30vw;
  height : auto;
  text-align: center;
  font-size: 2vw;
  transform : translate(35vw, -2vw);
  padding : 1vw;
  color: #661414;
  border-width : 0.2vw;
  border-style: solid;
  border-color: #661414;
}

.cardtimer
{
  width : 8vw;
  height : auto;
  text-align: center;
  font-size: 1vw;
  transform : translate(46vw, -2vw);
  margin-top : 1vw;
  color: #661414;
  border-width : 0.2vw;
  border-style: solid;
  border-color: #c9dbc5;
}

.cardgamebutton
{
  width : 4vw;
  height : auto;
  text-align: center;
  font-size: 1vw;
  transform : translate(48vw, -2vw);
  margin-top : 1vw;
  color: #c9dbc5;
  border-width : 0.2vw;
  border-style: solid;
  border-color: #661414;
  background-color: #661414;
  border-radius: 5%;
}

.cardgamebutton:hover
{
  background-color: #b83939;
}

.cardlist
{
  display: grid;
  gap: 20px;
  width: 40vw;

  transform: translateX(12vw);
}

.card-state
{
  width: 12vw;
  height: 20vw;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-state.is-flipped
{
  transform: rotateY(180deg);
}

.cardface
{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardfacefront
{
  background-color: #70582f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardfaceback
{
  background-color: #70582f;
  transform: rotateY(180deg);
}

.cardcontent
{
  width: 100%;
  height: 100%;

  display : grid;
  grid-template-rows: 1fr 1fr 4fr;
}

.cardimg
{
  grid-row: 2;
  display: flex;
  justify-content: center;
}

.cardimg:after
{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.cardname
{
  grid-row: 1;
  color: #661414;
  font-size: 1vw;
  text-align: center;
}

.cardtext
{
  grid-row: 3;
  font-size:1vw;
  text-align: center;

  color :#c9dbc5;
  display:flex;
  justify-content: center;
  align-items: center;
}

.cardcover
{
  width : 100%;
  height : 100%;
}

.cardimage
{
  width : auto;
  height : 6vw;
}

@media (max-width: 1000px)
{
  .cardname
  {
    font-size: 2.5vw;
  }
  .card-state
  {
    width: 24vw;
    height: 40vw;
  }
  .cardlist
  {
    gap: 20px;
    width: 80vw;
    transform: translateX(10vw);
  }
  .cardtext
  {
    font-size:2vw;
  }
  .cardimage
  {
    width : auto;
    height : 10vw;
  }

  .cardlisttitle
  {
    width : 60vw;
    font-size: 4vw;
    transform : translate(20vw, -2vw);
    padding : 1vw;
  }

  .cardtimer
  {
    width : 20vw;
    font-size: 3vw;
    transform : translate(40vw, -2vw);
    margin-top : 1vw;
  }

  .cardgamebutton
  {
    width : 10vw;
    font-size: 3vw;
    transform : translate(45vw, -2vw);
    margin-top : 1vw;
  }
}
@media (max-width: 800px)
{
  .cardlisttitle
  {
    margin-top : 5vw;
    width : 60vw;
    font-size: 4vw;
    transform : translate(20vw, -2vw);
    padding : 1vw;
  }

  .cardtimer
  {
    width : 20vw;
    font-size: 3vw;
    transform : translate(40vw, -2vw);
    margin-top : 1vw;
  }

  .cardgamebutton
  {
    width : 20vw;
    font-size: 6vw;
    transform : translate(40vw, -2vw);
    margin-top : 1vw;
  }
  .cardtext
  {
    font-size:1.75vw;
  }
}

/**************************Mythology**************************/


/**************************Food**************************/
.foodtext
{
  width : 70vw;
  height : auto;
  text-align: center;
  font-size: 2vw;
  transform : translate(15vw, -2vw);
  padding : 1vw;
  color: #661414;
  border-width : 0.2vw;
  border-style: solid;
  border-color: #661414;
}

.foodgenerator
{
  display : grid;
  grid-template-rows: 1fr 3fr;
}
.foodsetting
{
  grid-row: 1;
  display : grid;
  grid-template-rows: 2fr 1fr 1fr;
}
.fstext
{
  grid-row: 1;
  display : flex;
  justify-content: center;

  font-size: 2vw;
  font-weight: bold;
  color: #661414;
}
.fsbar
{
  grid-row: 2;
  display : flex;
  justify-content: center;
}
.fsbutton
{
  grid-row: 3;
  display: flex;
  justify-content: center;
}
.foodgenerate
{
  font-size: 1vw;
  font-weight: bold;
  color: #c9dbc5;
  background-color: #297245;
  outline : none;
  height : 2vw;

  transition: 0.5s;
}
.foodgenerate:hover
{
    background: #487c4b;
    transform: translateY(-2px);
}

.foodgenerate:active
{
    transform: translateY(0);
}

.foodcontent
{
  grid-row: 2;
}

.fooddetails
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;

  width : 80vw;
  transform: translateX(10vw);
  border-width : 0.2vw;
  border-style: solid;
  border-color: #661414;
  margin : 1vw;
}

.fdtitle
{
  grid-row : 1;
  grid-column: 1/span 2;

  display : flex;
  justify-content: center;
  align-items: center;
  color : #661414;
  font-size: 3vw;
  font-weight: bold;
  padding : 1vw;

  border-bottom: 0.2vw solid #661414;
}
.fddisc
{
  grid-row : 2;
  grid-column: 1;
  text-align: center;
  display : flex;
  align-items: center;
  padding : 1vw;
  color : #661414;
  font-size: 1.25vw;
}
.fdimgcon
{
  grid-row : 2;
  grid-column: 2;
  display : flex;
  justify-content: center;
  align-items: center;
  padding : 1vw;
}

.fdimg
{
  width : 80%;
}
input[type=range]
{
  width: 30vw;
  height: 1vw;
  border-radius: 10%;
  background: linear-gradient(to right, #297245 0%, #70582f 50%, #661414 100%);
  outline: none;
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  background: #a2a2a2;
  border: 0.1vw solid #70582f;
  border-radius: 100%;
  cursor: pointer;
  width: 1vw;
  height: 1vw;
}

@media (max-width: 1000px)
{
  .foodtext
  {
    width : 70vw;
    font-size: 3vw;
    transform : translate(12.5vw, 0);
  }
  input[type=range]
  {
    width: 50vw;
    height: 3vw;
    border-radius: 10%;
  }
  input[type=range]::-webkit-slider-thumb
  {
    border: 0.2vw;
    border-radius: 100%;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
  }
  .foodgenerate
  {
    width : 20vw;
    height : 5vw;
    font-size: 3vw;
  }
  .fddisc
  {
    grid-row : 2;
    grid-column: 1;
    font-size: 2vw;
    padding : 0vw;
  }
}
@media (max-width: 800px)
{
  .foodtext
  {
    width : 90vw;
    font-size: 4vw;
    transform : translate(0);
  }
  .foodsetting
  {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fstext
  {
    font-size: 5vw;
  }
  .foodgenerator
  {
    display : grid;
    grid-template-rows: 1fr 4fr;
  } 
  input[type=range]
  {
    width: 80vw;
    height: 4vw;
    border-radius: 10%;
  }

  .foodgenerate
  {
    width : 40vw;
    height : 10vw;
    font-size: 5vw;
  }

  .fooddetails
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    width : 90vw;
    transform: translateX(0);
  }

  .fdtitle
  {
    grid-row : 1;
    grid-column: 1;
    padding : 0vw;
    font-size: 10vw;
  }
  .fddisc
  {
    grid-row : 2;
    grid-column: 1;
    font-size: 5vw;
    padding : 0vw;
  }
  .fdimgcon
  {
    grid-row : 3;
    grid-column: 1;
  }
}
/**************************Food**************************/

/**************************Language**************************/
.alphabetarticle
{
  display : grid;
  grid-template-columns: 1fr 1fr;
  width : 80vw;
  transform : translateX(10vw);

  border : 0.5vw solid #661414;
}
.languageintro
{
  grid-column: 1;
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color : #661414;
  font-size: 2vw;
  padding : 1vw;
}
.alphabetimg
{
  grid-column: 2;
  display : flex;
  justify-content: center;
  align-items: center;

  padding : 1vw;
}
.alphabetimage
{
  width : 30vw;
}

.diacriticarticle
{
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;

  width : 80vw;
  transform : translateX(10vw);
  border : 0.5vw solid #661414;
  font-size : 2vw;
  margin-top  : 1vw;
}

.discritictitle
{
  grid-row: 1;
  grid-column : 1 / span 2;

  text-align: center;
  font-weight: bold;
  color : #661414;
  font-size: 2vw;

  border-bottom : 0.2vw solid #661414;
}

.diablock
{
  grid-template-rows: 1fr 6fr;
}

.diacontent
{
  grid-row: 2;
}
.diatext
{
  grid-row: 1;

  border-top : 0.1vw solid #661414;
  border-bottom : 0.1vw solid #661414;
  text-align: center;

  color:#661414;
}

.diatype
{
  display : grid;
  grid-template-columns: 1fr 6fr;
}
.discriticimg
{
  grid-column : 1;

  text-align: center;
  background-color: #297245;
  border: 0.1vw solid #661414;
  margin : 0.5vw;
  color:#c9dbc5;

  transition:0.5s;

  width:8vw;
}
.discriticimg:hover
{
  grid-column : 1;

  text-align: center;
  background-color: #70582f;

  width:10vw;
}
.discriticdesc
{
  grid-column : 2;

  display : flex;
  align-items: center;
  color:#661414;
}

#discritic-1
{
  grid-row: 2;
  grid-column: 1;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#diatype11
{
  grid-row: 1;
}
#diatype12
{
  grid-row: 2;
}
#diatype13
{
  grid-row: 3;
}
#diatype14
{
  grid-row: 4;
}
#diatype15
{
  grid-row: 5;
}

#discritic-2
{  
  grid-row: 2;
  grid-column: 2;
  
  grid-template-rows: 1fr 1fr;
}

#discritic21
{
  grid-row: 1;
}
#discritic22
{
  grid-row: 2;
}

#discritic-3
{
  grid-row: 3;
  grid-column: 1;
  
  grid-template-rows: 1fr 1fr 1fr;
}
#discritic31
{
  grid-row: 1;
}
#discritic32
{
  grid-row: 2;
}
#discritic33
{
  grid-row: 3;
}

#discritic-4
{
  grid-row: 3;
  grid-column: 2;
  
  grid-template-rows: 1fr 1fr;
}
#discritic41
{
  grid-row: 1;
}
#discritic42
{
  grid-row: 2;
}

.wordgamestart
{
  width : 20vw;
  transform : translateX(40vw);
  border : 0.5vw solid #661414;
  font-size : 1.5vw;
  margin-top : 1vw;
  margin-bottom : 1vw;
  border-radius : 30vw;

  display : flex;
  justify-content: center;
  background-color: #661414;
  color : #c9dbc5;

  transition: 0.5s;
}

.wordgamestart:hover
{
  background-color: #297245;
}

.wordgamemain
{
  width : 80vw;
  transform : translateX(10vw);
  border : 0.5vw solid #661414;
  font-size : 2vw;
  margin-top : 1vw;
  margin-bottom : 1vw;

  display : grid;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
}

.wordinstructions
{
  grid-row : 1;
  display : flex;
  justify-content: center;
  align-items: center;
  color:#661414;
}

#wordrequirment
{
  grid-row : 2;
  text-align: center;
  color: #661414;
  font-weight : bold;
}

.mainword
{
  grid-row : 3;

  text-align: center;
}

.optionselect
{
  grid-row : 4;
}

.diabutton
{
  background-color: #297245;
  color : #c9dbc5;
  border-radius: 1vw;
  text-align: center;
  font-size: 2vw;
  padding : 1vw;

  width: 5vw;
  height: 5vw;
  
  transform: translateX(28vw);
}
.diabutton:hover
{
  background-color: #b83939;
}

.submitbuttoncon
{
  grid-row : 5;
  display : flex;
  justify-content: center;
}
.submitbutton
{
  width : 10vw;
  border : 0.5vw solid #661414;
  font-size : 1.5vw;
  margin-top : 1vw;
  margin-bottom : 1vw;
  border-radius : 30vw;

  text-align: center;
  background-color: #661414;
  color : #c9dbc5;

  transition: 0.5s;
}
.submitbutton:hover
{
  transform : translateY(-0.5vw);
}

@media (max-width: 1000px)
{
  .submitbutton
  {
    width : 20vw;
    border : 0.5vw solid #661414;
    font-size : 3vw;
  }
}
@media (max-width: 800px)
{
  .alphabetarticle
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    width : 90vw;
    transform : translateX(2.5vw);
  }
  .languageintro
  {
    grid-row: 1;

    color : #661414;
    font-size: 3vw;
    padding : 1vw;
    text-align: center;
  }
  .alphabetimg
  {
    grid-column: 1;
    grid-row: 2;

    padding : 1vw;
  }
  .alphabetimage
  {
    width : 60vw;
  }

  .diacriticarticle
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 2fr;

    width : 90vw;
    transform: translateX(2.5vw);
  }

  .discritictitle
  {
    grid-column: 1;
    grid-row: 1;
    font-size : 5vw;
  }
  #discritic-1
  {
    grid-column: 1;
    grid-row: 2;
    font-size : 3vw;
  }
  #discritic-2
  {
    grid-column: 1;
    grid-row: 3;
    font-size : 3vw;
  }
  #discritic-3
  {
    grid-column: 1;
    grid-row: 4;
    font-size : 3vw;
  }
  #discritic-4
  {
    grid-column: 1;
    grid-row: 5;
    font-size : 3vw;
  }

  .wordgamestart
  {
    width : 50vw;
    height : 5vw;
    transform : translateX(22.5vw);
    font-size : 3vw;

    align-items: center;
  }

  .wordgamemain
  {
    width : 90vw;
    transform : translateX(2.5vw);
    border : 0.5vw solid #661414;
    font-size : 2vw;
    margin-top : 1vw;
    margin-bottom : 1vw;

    display : grid;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  }

  .wordinstructions
  {
    font-size: 3vw;
  }

  #wordrequirment
  {
    font-size: 3vw;
  }

  .mainword
  {
    font-size: 6vw;
  }

  .diabutton
  {
    background-color: #297245;
    color : #c9dbc5;
    border-radius: 1vw;
    text-align: center;
    font-size: 5vw;
    padding : 1vw;

    width: 10vw;
    height: 10vw;

    transform: translateX(25vw);
  }
}
/**************************Language**************************/

/**************************History**************************/
.dynastytitle
{
  color: #550000;
  text-align : center;
  font-size: 2vw;
}

.rotater
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  perspective: 100vw;
}

.flagcard
{
  width: 120px;
  height: 80px;
  border-radius: 8px;
  transition: transform 1s, width 1s, height 1s, background-color 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.flagcard img
{
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

.center
{
  width: 300px;
  height: 180px;
  
  transition: 1s;
}

.sideleft
{
  transform: rotateY(30deg) translateX(-20px);

  transition: 1s;
}

.sideright
{
  transform: rotateY(-30deg) translateX(20px);

  transition: 1s;
}

.arrow
{
  font-size: 2em;
  cursor: pointer;
  color: #a2a2a2;
  user-select: none;
}

.arrow:hover
{
  color: #000000;
}

.dynastycontainer
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;

  margin-top: 1vw;

  width : 80vw;
  transform : translateX(10vw);
  border : 0.5vw solid #661414;
}

.dynastyname
{
  grid-row: 1;
  grid-column : 1 / span 2;

  text-align: center;
  padding : 0.5vw;
  color:#661414;
  font-size: 3vw;
  font-weight: bold;

  border-bottom : 0.5vw solid #661414;
}

.dynastycontext
{
  grid-row: 2;
  grid-column : 1;

  display : grid;
  text-align: center;
  padding : 1vw;
  align-items: center;

  color:#661414;
  font-size: 2vw;

  border-bottom : 0.5vw solid #661414;
}

.dynastymap
{
  grid-row: 2;
  grid-column : 2;

  display: grid;
  justify-content: center;
  align-items: center;
  border-bottom : 0.5vw solid #661414;
}

.mapportrait
{
  height : 30vw;
}

.dynastyleaders
{
  grid-row: 3;
  grid-column : 1 /span 2;

  display : grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.leader1, .leader2, .leader3
{
  width: 20vw;
  display : grid;
  justify-content: center;
  align-items: center;
}

.leader1
{
  grid-column: 1;
}
.leader2
{
  grid-column: 2;
}
.leader3
{
  grid-column: 3;
}

.leaderprotrait
{
  width : 15vw;
  height : 20vw;
}

.leadercontext
{
  position: absolute;
  width : 15vw;
  height : 20vw;

  transform : translateX(17%);

  background-color: #a2a2a2;
  opacity: 0.0;

  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 2vw;

  transition: 0.5s;
}

.leadercontext:hover
{
  opacity: 0.8;
}

.leaderguess
{
  width : 80vw;
  transform : translateX(10vw);
  border : 0.5vw solid #661414;
  margin-top : 1vw;

  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-rows: 2fr 10fr 1fr 1fr;
}

.leadergametitle
{
  grid-row: 1;

  text-align: center;
  color :#661414;
  font-weight: bold;
  font-size: 3vw;
  margin : 2vw;
}

.leadergame
{
  grid-row: 2;

  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  width : 60vw;
  border : 0.5vw solid #661414;
  margin-top : 1vw;
}

.nogamescreen
{
  grid-row: 2;

  display : grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;

  width : 40vw;
  border : 0.5vw solid #661414;
  margin-top : 1vw;
}

.centersymbol
{
  grid-row: 2;
  grid-column: 1 / span 3;

  display : grid;
  justify-content: center;
  align-items: center;
}
.cscricle
{
  font-size: 8vw;
  background-color: #c9dbc5;
  border-radius: 100%;

  transform: rotate(0deg);

  animation: circlerotate 1s linear infinite;
}

@keyframes circlerotate
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tlsymbolcon
{
  grid-row: 1;
  grid-column: 1;

  display : grid;
  justify-content: right;
  align-items: flex-end;
}
.tlsymbol
{
  font-size: 5vw;
  transform: translate(0vw, 0vw);

  animation: tlmove 0.5s linear infinite alternate;
}

@keyframes tlmove
{
  0%
  {
    transform: translate(0vw, 0vw) rotate(-50deg);
  }
  100%
  {
    transform: translate(-1vw, -1vw) rotate(-50deg);
  }
}

.trsymbolcon
{
  grid-row: 1;
  grid-column: 3;

  display : grid;
  justify-content: left;
  align-items: flex-end;
}
.trsymbol
{
  font-size: 5vw;
  transform : translate(0vw,0vw);

  animation: trmove 0.5s linear infinite alternate;
}
@keyframes trmove
{
  0%
  {
    transform: translate(0vw,0vw) rotate(50deg);
  }
  100%
  {
    transform: translate(1vw,-1vw) rotate(50deg);
  }
}
.blsymbolcon
{
  grid-row: 3;
  grid-column: 1;

  display : grid;
  justify-content: right;
  align-items: flex-start;
}
.blsymbol
{
  font-size: 5vw;

  animation: blmove 0.5s linear infinite alternate;
}
@keyframes blmove
{
  0%
  {
    transform: translate(0vw,0vw) rotate(-130deg) scaleX(-1);
  }
  100%
  {
    transform: translate(-1vw, 1vw) rotate(-130deg) scaleX(-1);
  }
}
.brsymbolcon
{
  grid-row: 3;
  grid-column: 3;

  display : grid;
  justify-content: left;
  align-items: flex-start;
}
.brsymbol
{
  font-size: 5vw;
  animation: brmove 0.5s linear infinite alternate;
}
@keyframes brmove
{
  0%
  {
    transform: translate(0vw,0vw) rotate(130deg) scaleX(-1);
  }
  100%
  {
    transform: translate(1vw,1vw) rotate(130deg) scaleX(-1);
  }
}

.gleader
{
  text-align: center;
  font-size: 2vw;
  color: #c9dbc5;
  font-weight: bold;
  background: #297245;
  border-radius: 1vw;
}

.gbagan, .gtaungu, .ginnwa, .gkonbaung
{
  width : 30vw;
  height : 20vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.gbagan
{
  grid-row : 1;
  grid-column : 1;
}
.gtaungu
{
  grid-row : 1;
  grid-column : 2;
}
.ginnwa
{
  grid-row : 2;
  grid-column : 1;
}
.gkonbaung
{
  grid-row : 2;
  grid-column : 2;
}

.quizflag
{
  width : 20vw;
  height : 10vw;

  transition : 0.5s;
}

input[type="radio"]
{
  display: none;
}

input[type="radio"]:checked + .quizflag
{
  border: 0.1vw solid #297245;
  width : 22vw;
  height : 11vw;
}

#btnSubmit
{
  grid-row : 3;
  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2vw;
}

#scorebox
{
  grid-row: 4;

  display : flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vw;

  margin-top : 1vw;
  border-radius: 1vw;
  background-color: #297245;
  color:#c9dbc5;
}

@media (max-width: 1000px)
{
  .flagcard
  {
    width: 50vw;
    height: 20vw;
  }
  .dynastytitle
  {
    font-size: 4vw;
  }
}
@media (max-width: 800px)
{
  .flagcard
  {
    width: 50vw;
    height: 13vw;
  }

  .dynastycontainer
  {
    width : 90vw;
    transform : translateX(2.5vw);
  }

  .dynastyname
  {
    text-align: center;
    padding : 1vw;
    color:#661414;
    font-size: 7vw;
    font-weight: bold;
  }

  .dynastycontext
  {
    display : grid;
    text-align: center;
    padding : 1vw;
    align-items: center;

    color:#661414;
    font-size: 4vw;

    border-bottom : 0.5vw solid #661414;
  }

  .dynastymap
  {
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom : 0.5vw solid #661414;
  }

  .mapportrait
  {
    height : 30vw;
  }

  .dynastyleaders
  {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .leader1, .leader2, .leader3
  {
    width: 30vw;
    display : grid;
    justify-content: center;
    align-items: center;
  }

  .leader1
  {
    grid-column: 1;
  }
  .leader2
  {
    grid-column: 2;
  }
  .leader3
  {
    grid-column: 3;
  }

  .leaderprotrait
  {
    width : 20vw;
    height : 30vw;
  }

  .leadercontext
  {
    position: absolute;
    width : 20vw;
    height : 30vw;

    transform : translateX(25%);
    font-size: 3vw;
  }

  .leadergametitle
  {
    font-size: 6vw;
    margin : 2vw;
  }
  .leaderguess
  {
    width : 90vw;
    transform : translateX(2.5vw);
    grid-template-rows: 2fr 6fr 2fr 2fr;
  }
  .leadergame
  {
    width : 80vw;
    border : 0.5vw solid #661414;
    margin-top : 1vw;
  }

  .gleader
  {
    font-size: 5vw;
  }

  .gbagan, .gtaungu, .ginnwa, .gkonbaung
  {
    width : 30vw;
    height : 20vw;

    display : flex;
    justify-content: center;
    align-items: center;
  }

  .quizflag
  {
    width : 30vw;
    height : 15vw;
  }

  input[type="radio"]
  {
    display: none;
  }

  input[type="radio"]:checked + .quizflag
  {
    border: 0.1vw solid #297245;
    width : 35vw;
    height : 17vw;
  }

  #btnSubmit
  {
    font-size: 4vw;
  }

  #scorebox
  {
    font-size: 4vw;
  }

  .nogamescreen
  {
    width : 80vw;
    border : 0.5vw solid #661414;
    margin-top : 1vw;
  }

  .dynastytitle
  {
    font-size: 6vw;
  }
}